.logo-container{
    display: flex;
}


.logo{
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 10%;
}

.header{
    display: flex;
    display: spa;
    background-color: lightgrey;
    box-shadow: 50;
    justify-content: space-between;
    border: solid black 1px;
}

.nav-items{
    margin-right:30px;
    
}

.nav-items > ul {
    display: flex;
}

.nav-items > ul > li{
    padding: 14px;
    list-style-type: none;
    font-size: large;
    cursor: pointer;
}


.res-card{
    margin: 10px;
    height: 410px;
    width: 225px;
    background-color: lightgrey; 
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    
   
}


.res-card:hover{
    border: solid black 0.5px;
    cursor: pointer;
    background-color: darkolivegreen;
    
}

.res-logo{
    width:100%;
    height: 45%;
    border-radius: 20px;
    
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.filter{
    display: flex;
}

.filter-button{
    margin-top: 8px;
    margin-bottom: 8px;
}

.clear-filter{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 5px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    background-color: lightgray;
    width: 250px;
    height:400px;
    margin: 10px;
    border-radius: 30;
}

.fake-image{
    background-color: rgb(195, 198, 201);
    height: 45%;
    width: 240px;
    border-radius: 30;
   margin: 5px;
}


.login{

    padding: 2px;
    cursor: pointer;
}

.search-box{
    margin-left: 8px;
}

.about-container{
    margin-top: 5px;
    display: flex;
    background-color: lightgray;
    justify-content: space-between;
}

.about-image{
    width: 400px;
    height: 300px;
    border-radius: 20%;
    margin-left: 20px;
}

.about-image2{
    width: 400px;
    height: 300px;
    margin-right: 20px;
    border-radius: 20%;
}

.error-image{
    display: flex;
    width: 40%;
    height: 45%;
    margin-left: 30%;
}
